<div class="section1">
    <app-header></app-header>
    <div class="container-fluid text-capitalize">
        <div class="container">
            <div class="row justify-content-center">
                <div class="twelve columns">
                    <h1 class="animated fadeIn">Your Gateway to Authentic Brand-Influencer Partnerships</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="ten columns offset-by-one">
                    <div class="tech-icons">
                        
                        <a href="#">
                            <img src="../../assets/download (2).png" width="60">&nbsp;
                        </a>
                        <a href="#">
                            <img src="../../assets/download.png" width="60">&nbsp;
                        </a>
                        <a href="#">
                            <img src="../../assets/download (1).png" width="60">&nbsp;
                        </a>
                        <a href="#">
                            <img src="../../assets/0e74c27.png" width="60">&nbsp;
                        </a>
                        <a href="#">
                            <img src="../../assets/4438a84.png" width="60">&nbsp;
                        </a>
                      
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="twelve columns">
                    <h5 class="tagline">Bridging Brands and Influencers for Meaningful Partnerships
                    </h5>
                </div>
            </div>
            <!-- <div class="row justify-content-center">
                <button class="btn btn-light px-5 py-2">campaign management</button>
                <button class="btn btn-light px-5 py-2">campaign management</button>
                <button class="btn btn-light px-5 py-2">campaign management</button>
            </div> -->
            <div class="row justify-content-center" style="display: flex;">
                <div style="border: 2px solid transparent; padding: 10px; background-color: white; margin-right: 10px; text-align: center; display: flex; flex-direction: column; justify-content: center;">
                  <p style="color: black; margin: 0;">campaign management</p>
                </div>
                <div style="border: 2px solid transparent; padding: 10px; background-color: white; margin-right: 10px; text-align: center; display: flex; flex-direction: column; justify-content: center;">
                  <p style="color: black; margin: 0;">Influencer discovery</p>
                </div>
                <div style="border: 2px solid transparent; padding: 10px; background-color: white; margin-right: 10px; text-align: center; display: flex; flex-direction: column; justify-content: center;">
                  <p style="color: black; margin: 0;">Seamless payments</p>
                </div>
                <div style="border: 2px solid transparent; padding: 10px; background-color: white; margin-right: 10px; text-align: center; display: flex; flex-direction: column; justify-content: center;">
                    <p style="color: black; margin: 0;">Verified profiles</p>
                  </div>
                  <div style="border: 2px solid transparent; padding: 10px; background-color: white; margin-right: 10px; text-align: center; display: flex; flex-direction: column; justify-content: center;">
                    <p style="color: black; margin: 0;">No platform charges</p>
                  </div>
              </div>
              
             
            <div class="row justify-content-center mr-lg-auto pt-2">
                <a href="signup">
                    <div >
                        <button class="btn btn-primary mr-3">GET STARTED FREE</button>
                    </div>
                </a>
            </div>
        </div>


    </div>
</div>
<!-- <app-section2></app-section2>
<app-section3-copy></app-section3-copy>
<app-section4></app-section4>
<app-section5></app-section5> -->
<app-footer></app-footer>