

<app-header></app-header>
<br>
<h2 style="color: blue; text-align:center">Create your free account!</h2>
<div class="container  mt-5"> 
  <div class="row"> 
      <div class="col-lg-6 "> 
          <div class="card "> 
              <img class="card-img-top" src="" alt=""> 

              <div class="card-body"> 
                  <h5 class="card-title">Business</h5> 
                  <p class="card-text"> 
                    For brands, agencies, and e-commerce stores
                  </p> 

                  <a routerLink="/signup/brand" (click)="brandSignup()" class="btn btn-outline-primary btn-sm"> 
                     Sign Up
                  </a> <br><br>
                  <h6>Every feature your team needs</h6>
                  
                  <ul>
                    <li>Influencer discovery</li>
                    <li>Campaign management and tracking</li>
                    <li>Influencer recruiting</li>
                  </ul>  
                 
                  <!-- <a href="#" class="btn btn-outline-secondary btn-sm"> 
                      <i class="far fa-heart"></i></a>  -->
                     
                    </div> 
          </div> 
      </div> 
      <div class="col-lg-6 mb-4"> 
          <div class="card"> 
              <img class="card-img-top" src="" alt=""> 

              <div class="card-body"> 
                  <h5 class="card-title">Creator</h5> 
                  <p class="card-text"> 
                    For influencers to connect and grow.
                  </p> 
                    
                  <a routerLink="/signup/influencer" (click)="influencerSignup()" class="btn btn-outline-primary btn-sm"> 
                    Sign Up
                 </a> <br><br>
                 <h6>Every feature you need</h6>
                  
                  <ul>
                    <li>Grow yuor account</li>
                    <li>Find new collaborators</li>
                    <li>Find an opportunity</li>
                  </ul>  
              </div> 
          </div> 
      </div> 
  </div> 
</div> 

